.root {
    -fx-text-background-color: white;
}

.label {
    -fx-text-background-color: white;
}

* {
    -fx-text-background-color: white;
}

.keyword { -fx-fill: blue; -fx-font-weight: bold;}
.number { -fx-fill: red; }
.string {-fx-fill: green;}

.lineno {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #606366;
    -fx-padding: 0 8 0 8;
    -fx-border-color: #3c3f41;
    -fx-border-width: 0 1 0 0;
}

.code-area {
    -fx-background-color: #2b2b2b;
}


